:root {
  --main-color: #0d6fad;
  --main-alt-color: #489cdc;
  --second-color: #778fa4;
  --balck-color: #121413;
  --grey-color: #646464;
}
/* -------------------------------- Start Box ------------------------------- */
.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.flex-wrab {
  flex-wrap: wrap;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}
.hide {
  display: none;
}
/* --------------------------------- End Box -------------------------------- */

/* ---------------------------- Start Components ---------------------------- */
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-shap {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 5px;
  background-color: var(--main-color);
  transition: var(--main-transition);
  padding: 15px 25px;
  color: #fff;
  fill: var(--main-color);
  cursor: pointer;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  transform-style: preserve-3d;

}
.btn-shap:hover {
  background-color: white;
  color: var(--main-color);
  fill: white;
}
.change-btn {
  margin-right: 10px;
  background-color: white;
  color: var(--main-color);
}
.change-btn:hover {
  background-color: var(--main-color);
  color: white;
}
/* ---------------------------- End Components ---------------------------- */
