@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
/* --------------------------- Start global Rules --------------------------- */
:root {
  --main-color: #0d6fad;
  --main-alt-color: #064475;
  --section-background: #0d6fad33;
  /* --section-background: #BAD1E2; */
  --second-color: #778fa4;
  --balck-color: #121413;
  --grey-color: #646464;
  --main-transition: 0.3s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  /* direction: rtl; */
}
/* Hide scrollbar */
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari and Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*:focus {
  outline: none;
}
h1 {
  text-align: center;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 23px;
  }
}
p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
.container {
  /* for phone */
  padding-left: 20px;
  padding-right: 20px;
  /* for phone */
  margin-left: auto;
  margin-right: auto;
}

/* small screen */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium screen */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large screen */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* ------------------------------- Start Pages Head ------------------------------ */
.head {
  background-image: url(../images/bg2.png);
  background-position: center center;
  background-size: 100px auto;
  opacity: 0.9;
  background-color: #064475;
  padding: 10px;
}
.head .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .head .container {
    padding: 20px;
    text-align: center;
  }
}
.head .container h2 {
  font-size: 50px;
  color: white;
  font-weight: 500;
}
/* ------------------------------- End Pages Head ------------------------------ */
/* ----------------------------- Stat Book Free ----------------------------- */
.bookfree {
  padding: 40px 0 40px 0;
  background-color: var(--section-background);
}
@media (max-width: 767px) {
  .bookfree {
    text-align: center;
  }
}
.bookfree .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .bookfree .container {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.bookfree p {
  color: #0d6fad;
  font-size: 30px;
  font-weight: 500;
  flex: 1;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .bookfree p {
    font-size: 25px;
    /* padding-bottom: 20px; */
    margin: 10px;
  }
  .bookfree a {
    margin: 10px;
  }
}
.free-bg {
  background-color: white;
}
/* ----------------------------- End Book Free ----------------------------- */
/* ------------------------------ Start Watsapp Button ----------------------------- */
.wtsapp-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  white-space: nowrap;
  line-height: 100%;
  padding: 12px 20px;
  border-radius: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: var(--main-color);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
  transition: box-shadow 80ms ease-in-out, width 0.4s ease 0.2s;
  font-size: 14px;
  font-weight: 500;
  color: white;
  z-index: 9999;
  font-family: sans-serif;
}
@media (max-width: 767px) {
  .wtsapp-icon {
    border-radius: 50px;
    width: 60px;
    height: 60px;
  }
  .wtsapp-icon span {
    display: none;
  }
}
.wtsapp-icon:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09), 0 4px 40px rgba(0, 0, 0, 0.24);
}
.wtsapp-icon i {
  font-size: 23px;
  margin-right: 5px;
  margin-left: -3px;
}
@media (max-width: 767px) {
  .wtsapp-icon i {
    font-size: 33px;
    margin: 0;
  }
}
/* ------------------------------ End Watsapp Button ----------------------------- */
/* ---------------------------- End global Rules ---------------------------- */
/* ------------------------------ Start navigation ------------------------------ */
header .container {
  position: relative;
  padding: 5px 15px;
}
.logo {
  width: 125px;
}
.nav-links li {
  display: inline-block;
  /* padding: 10px 15px; */
  /* line-height: 1.5; */
}
.nav-links li a {
  transition: all var(--main-transition) ease 0s;
  color: var(--balck-color);
  font-weight: 500;
  letter-spacing: 1.6px;
  padding: 0px 15px;
}
.nav-links li a:hover,
.nav-links li a.active-page {
  color: var(--main-color);
}

.navTrigger {
  cursor: pointer;
  width: 25px;
}
@media (min-width: 767px) {
  .navTrigger {
    display: none;
  }
}
.navTrigger i {
  background-color: var(--main-color);
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}
@media (max-width: 767px) {
  .nav-bar {
    position: absolute;
    height: 0;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    color: #121413;
    padding: 0;
    overflow: hidden;
    transition: all 0.5s;
    z-index: 999;
  }
  .nav-bar.show {
    height: 206px;
    padding: 5px;
    box-shadow: 0px 10px 15px -4px rgb(1 1 1 / 15%);
  }
  .nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    font-weight: bold;
    /* gap: 10px; */
  }
  .nav-bar.show ul {
    opacity: 1;
  }
  .nav-bar ul li {
    padding: 10px 0;
  }
}
/* ------------------------------ End navigation ------------------------------ */
/* ------------------------------- Start Home ------------------------------- */
/* ------------------------------ Start Landig ------------------------------ */
.landing {
  background-image: url(../images/bg.png);
  background-size: 100px auto;
  background-color: #f7fdff;
}

.landing .container {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 70px;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text {
  text-align: center;
}
.landing .text h1 {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 0;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 38px;
  }
}

.landing .text p:nth-child(1) {
  font-size: 23px;
  color: var(--main-color);
  line-height: 1.5;
  margin: 0px auto;
}
.landing .text > p {
  font-size: 23px;
  color: var(--main-color);
  line-height: 1.5;
  margin: 0px auto 20px;
}

/* @media (max-width: 991px) {
  .landing .text p {
    margin: 20px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
} */
.landing .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .landing .btns {
    flex-direction: column;
  }
  .landing .btns a {
    width: 100%;
  }
}

/* ------------------------------ End Landig ------------------------------ */
/* ----------------------------- Start About Us ----------------------------- */
.about-section {
  padding-top: 75px;
  padding-bottom: 75px;
}
.about-us {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 767px) {
  .about-us {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
.about-us .about-image {
  width: 350px;
  padding: 20px;
}
@media (max-width: 767px) {
  .about-us .about-des {
    padding: 0px 20px;
  }
}
.about-us .about-des p:nth-child(1) {
  font-size: 25px;
  color: var(--main-color);
  font-weight: 500;
  margin-bottom: 20px;
}
.about-us .about-des p:nth-child(2) {
  margin-bottom: 20px;
}
.about-us .about-des p:nth-child(3) {
  margin-bottom: 5px;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
}
.about-us .about-des p:nth-child(4) {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .about-us .about-des a {
    margin: auto;
  }
}
/* ----------------------------- End About Us ----------------------------- */
/* ----------------------------- Start How Works ----------------------------- */
.how-works {
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  background-color: #f4f5f7;
}
.how-works h1 {
  margin-bottom: 20px;
}
.how-works .how-des {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
}
.how-works .steps {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.how-works .steps .step {
  width: 30%;
  padding: 20px;
}
@media (max-width: 767px) {
  .how-works .steps .step {
    width: 100%;
  }
}
.how-works .steps .step img {
  width: 85px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .how-works .steps .step img {
    width: 120px;
  }
}
.how-works .steps .step h4 {
  font-size: 47px;
  font-weight: 600;
  margin-bottom: 10px;
}
.how-works .steps .step h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 15px;
}
.how-works .steps .step p {
  font-weight: 300;
}
.how-works .simple {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.how-works a {
  display: block;
  width: fit-content;
  margin: auto;
}
/* ----------------------------- End How Works ----------------------------- */
/* ----------------------------- Start Why iwan ----------------------------- */
.why-iwan {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #f4f5f7;
  text-align: center;
}
.why-iwan h1 {
  margin-bottom: 20px;
}
.why-iwan .features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.why-iwan .features .box {
  width: 30%;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0px 15px rgb(0 0 0 / 10%);
  transition: all 0.3s;
}
/* .why-iwan .features .box:hover{
  box-shadow: 0 0px 15px rgb(0 0 0 / 20%);
  transform: translatey(-5px);

} */
@media (max-width: 767px) {
  .why-iwan .features .box {
    width: 100%;
  }
}
.why-iwan .features .box h3 {
  padding-top: 12px;
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: 500;
}
.why-iwan .features .box p {
  font-weight: 400;
}
.why-iwan .box img {
  width: 80px;
  height: 80px;
}
/* ----------------------------- End Why iwan ----------------------------- */
/* ------------------------------ Start Courses ----------------------------- */
.courses-page {
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}
.courses-bg .courses-page {
  padding-top: 40px;
  padding-bottom: 40px;
}
.courses-page .container > p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}
.course-info .cour-title {
  color: var(--main-color);
  font-size: 26px;
  font-weight: 500;
  border-width: 80%;
  width: fit-content;
  margin: 0px auto 30px;
}

.course-info {
  margin-bottom: 30px;
  padding: 30px 10px;
  border-radius: 6px;
  box-shadow: 0 0px 15px rgb(0 0 0 / 7%);
}
.courses-page .cour-des {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 767px) {
  .courses-page .cour-des {
    flex-direction: column;
    gap: 15px;
  }
}
.courses-page .cour-des.reverse {
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .courses-page .cour-des.reverse {
    flex-direction: column;
  }
}
.courses-page .cour-des img {
  width: 40%;
  padding: 30px;
}
@media (max-width: 767px) {
  .courses-page .cour-des img {
    width: 90%;
    padding: 0px;
  }
}

.cour-des .accordion {
  background-color: #dae6ee;
}
.cour-des .panel {
  border: solid 1.5px #dae6ee;
}
.cour-des .panel p {
  text-align: left;
  padding-top: 2px;
  padding-bottom: 2px;
}
.cour-des .panel p:first-child {
  padding-top: 15px;
}
.cour-des .panel p:last-child {
  padding-bottom: 15px;
}
.course-info a {
  margin: 30px auto 0;
  display: block;
  width: fit-content;
}
/* ------------------------------ End Courses ----------------------------- */
/* --------------------------- Srart Testimonials --------------------------- */
.testi-bg {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url(../images/testimonials-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .testi-bg {
    background-position: 100%;
  }
  .testi-bg .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.main-testi {
  position: relative;
  width: 100%;
  margin: auto;
}
.main-testi h1 {
  margin-bottom: 0;
}
.testimonials {
  width: 90%;
  margin: auto;
}
.testimonials .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  margin-bottom: 40px;
  padding: 20px;
}

.testi-text {
  color: #444444;
  font-size: 20px;
  line-height: 1.5;
  font-style: italic;
}
.testi-foot {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testi-name {
  color: #7a7a7a;
  font-weight: 600;
}
.testi-title {
  font-weight: 400;
  color: var(--main-color);
}
.swiper-font {
  width: 20px;
  height: 20px;
}
.swiper-font::after,
.swiper-font::before {
  font-size: 15px;
  color: var(--main-color);
  font-weight: bold;
}
.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
}
.swiper-pagination-bullet-active {
  width: 7px;
  height: 7px;
  background-color: #444444;
}
/* --------------------------- End Testimonials --------------------------- */
/* ------------------------------- Start FAQS ------------------------------- */
.faqs {
  background-color: var(--section-background);
  padding-top: 75px;
  padding-bottom: 75px;
}
.faqs h1 {
  padding-bottom: 30px;
}
.accordion {
  background-color: transparent;
  margin-top: 5px;
  color: var(--main-color);
  cursor: pointer;
  padding: 15px 20px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  transition: 0.4s;
  text-align: left;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .accordion {
    font-size: 15px;
    padding: 12px 15px;
    line-height: 1.5;
  }
}
.accordion::before {
  content: "\002B";
  color: var(--main-color);
  font-weight: bold;
  margin-right: 7px;
  font-size: 16px;
}
.accordion.active::before {
  content: "\2212";
}
.panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
  border: solid 1.5px transparent;
  border-top: 0;
}
.panel p {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
  color: var(--main-color);
  font-weight: 400;
}
@media (max-width: 767px) {
  .panel p {
    font-size: 16px;
  }
}
/* ------------------------------- End FAQS ------------------------------- */

/* ------------------------------- End Home ------------------------------- */
/* ------------------------------ Start About ------------------------------ */
.about .about-mission {
  padding: 40px 0px 25px 0px;
}
@media (max-width: 767px) {
  .about .about-mission {
    padding: 40px 20px 25px 20px;
  }
}
.about .about-mission .title {
  text-align: center;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 30px;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .about .about-mission .title {
    font-size: 23px;
  }
}
.about .about-mission .word {
  text-align: center;
  color: var(--main-color);
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .about .about-mission .word {
    font-size: 22px;
  }
}
.about .about-mission .discription {
  padding-bottom: 20px;
}
.about .about-mission .discription p {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  color: #666666;
  text-align: center;
}
@media (max-width: 1200px) {
  .about .about-mission .discription p {
    margin-top: 15px;
  }
}
/* ---------------------------- */
.about .quran {
  max-width: 100%;
  height: auto;
  padding: 20px;
  filter: hue-rotate(43deg);
}
/* ---------------------------- */
.teacher {
  padding: 50px 0 50px 0;
}
@media (max-width: 1200px) {
  .teacher {
    padding: 50px 20px 75px 20px;
    flex-direction: column;
    text-align: center;
  }
}
.teacher .teacher-des {
  flex-basis: 50%;
}
@media (max-width: 1200px) {
  .teacher .teacher-des {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
.teacher .teacher-des .teacher-title {
  color: var(--main-color);
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px;
}
@media (max-width: 1200px) {
  .teacher .teacher-des .teacher-title {
    margin: 20px 0 15px 0;
    font-size: 25px;
  }
}
.teacher .teacher-des .teacher-about {
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.5;
  font-size: 20px;
  padding-bottom: 20px;
}
@media (max-width: 1200px) {
  .teacher .teacher-des .teacher-about {
    margin: 18px 0 15px 0;
  }
}
@media (max-width: 767px) {
  .teacher .teacher-des .teacher-title {
    font-size: 20px;
  }
  .teacher .teacher-des .teacher-about {
    font-size: 18px;
  }
}
.teacher .teacher-des .info {
  padding-bottom: 20px;
}
.teacher .teacher-des .info p {
  color: #666666;
  margin-bottom: 15px;
  line-height: 1.5;
}
@media (max-width: 1200px) {
  .teacher .teacher-des .info p {
    margin-top: 15px;
  }
}
.teacher .teacher-ph {
  flex-basis: 50%;
  padding: 10px;
}
.teacher img {
  width: 80%;
  height: auto;
}
@media (max-width: 767px) {
  .teacher img {
    width: 100%;
  }
}
/* ------------------------------ End About ------------------------------ */

/* ------------------------------ Start Pricing ----------------------------- */
.packageprice {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f4f6f7;
}
.tagLine {
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.82);
}

.tabGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* ---------------------------- */
.uk-margin {
  margin-top: 20px !important;
  margin-bottom: 20px;
}
/* ---------------------------- */
.tabs {
  display: flex;
  align-items: center;
  opacity: 0.9;
  margin-bottom: 20px;
}
.tabs li {
  margin: 0 -1px;
  cursor: pointer;
}
.tabs li p {
  background: white;
  font-size: 20px;
  padding: 8px 30px;
  border-radius: 0;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid #064475;
  color: rgba(0, 0, 0, 0.82);
}
.tabs li p:hover {
  color: #064475;
}
.tabs li.uk-active p {
  background: #064475;
  font-size: 25px;
  padding: 8px 30px;
  border-radius: 0;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid #064475;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3686274509803922);
  color: white;
}
.tabs li span {
  font-size: 10px;
}
.uk-switcher {
  width: 100%;
}
.price-content {
  display: none;
}
.price-content.uk-active {
  display: block;
  animation: fade 1s ease;
}
/* ---------------------------- */
.plans30 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.plans30 ul li {
  margin: 0 15px;
  transition: 0.2s all;
  opacity: 0.9;
  margin-bottom: 20px;
}
.plans30 ul li:hover {
  transform: scale(1.05);
  opacity: 1;
  cursor: pointer;
}
.planCard {
  background: #ececec;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  border-bottom: 1px solid #064475;
  transition: 0.2s all;
}
.planwk {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.68);
  padding: 5px;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
}
.planwk p {
  margin: 0;
  text-align: center;
}

.planwk p span {
  font-weight: 600;
  padding-bottom: 2px;
  color: #064475;
  letter-spacing: 0;
  font-size: 20px;
}
.plprice {
  padding: 15px 10px;
  width: 100%;
  background: #064475;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3215686274509804);
}
.plprice h2 {
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  padding: 0;
  line-height: 110%;
  text-align: center;
  font-weight: 400;
}
.plprice span.num {
  font-size: 40px;
  font-weight: 600;
  color: #ffd67c;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.51);
  position: relative;
  top: 2px;
}
.plprice sup {
  position: relative;
  top: -7px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
.plspec {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #d3d3d3;
}
.plspec p {
  margin: 0;
  font-size: 15px;
  color: #454545;
}
.plspec p:not(:last-child) {
  padding-bottom: 5px;
}
.plspec p:nth-child(1)::before {
  content: "\f274";
  font-family: "Font Awesome 5 Free";
}
.plspec p:nth-child(2)::before {
  content: "\f328";
  font-family: "Font Awesome 5 Free";
}
.plspec p:nth-child(3)::before {
  content: "\f017";
  font-family: "Font Awesome 5 Free";
}
.plspec p::before {
  margin-right: 0;
  display: inline-block;
  width: 30px;
  color: #a0a0a0;
  text-align: center;
  margin-left: -7px;
}
.plcal {
  padding: 10px 20px;
}
.plcal h6 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #6d6d6d;
  margin-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
  line-height: 110%;
  font-weight: 400;
}
.plcal span {
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #064475;
}
span.rd {
  background: #09538c;
  color: white;
  padding: 2px;
  display: flex;
  width: 40%;
  font-size: 13px;
  margin-top: 3px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 2px;
}
.plcal h6:last-child {
  border: none;
  margin-bottom: 0;
}
/* ---------------------------- */
.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.signup::before {
  content: "";
  width: 2px;
  height: 19px;
  background: #064475;
  position: absolute;
  top: 0;
}
.signup a {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
  text-decoration: none;
  padding: 10px 20px;
  background: transparent;
  color: #064475;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #064475;
  transition: 0.3s all;
  fill: #064475;
}
.signup a:hover {
  background: #064475;
  color: white;
  fill: #064475;
  box-shadow: 0 3px 10px rgb(6 68 117 / 30%);
  transform: scale(1.05);
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* ------------------------------ End Pricing ----------------------------- */
/* ------------------------------ Start Contact ----------------------------- */
.discount {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 70px;
}
@media (max-width: 767px) {
  .discount {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.discount .image {
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .discount .image {
    margin-bottom: 30px;
    flex-basis: 100%;
  }
}
.discount .box {
  padding-bottom: 10px;
}
.box .line {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.box .line i {
  color: var(--main-color);
  margin-right: 10px;
  font-size: 30px;
}
.box .line .info {
  line-height: 1.7;
}
.box .line a {
  color: var(--grey-color);
  font-size: 18px;
}
.box .line a:hover {
  color: #313131;
}

.discount .form {
  flex-basis: 50%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.discount .form .input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: solid 1px #ccc;
  margin-bottom: 25px;
  padding: 15px;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
  font-size: 15px;
}
.discount .form .input:focus {
  outline: none;
}
.discount .form textarea {
  resize: none;
  height: 120px;
}
@media (max-width: 991px) {
  .discount .form .submit {
    width: 100%;
    display: block;
    text-align: center;
  }
}
.discount h2 {
  color: var(--main-color);
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
  line-height: 36px;
  max-width: 90%;
}
/* ------------------------------ End Contact ----------------------------- */
/* ------------------------------ Start Footer ------------------------------ */
.footer {
  background-color: var(--balck-color);
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    padding: 70px 20px 0 20px;
  }
}
.footer .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.footer .container .box {
  width: 250px;
}
@media (max-width: 1200px) {
  .footer .container .box {
    width: 45%;
  }
}

@media (max-width: 686px) {
  .footer .container .box {
    width: 95%;
  }
}

@media (max-width: 586px) {
  .footer .container .box {
    width: 100%;
  }
}
.footer .container .box img {
  width: 72%;
  display: block;
  margin: auto;
}
@media (max-width: 767px) {
  .footer .container .box img {
    width: 90%;
  }
}
.footer .container .box h4 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  color: white;
  padding: 0 0 20px;
}
.footer .box .text {
  line-height: 1.5;
  color: #b9b9b9;
}
.footer .box .links li:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .footer .box .links li {
    padding: 10px 0;
  }
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
  border: none;
}
@media (max-width: 767px) {
  .footer .box .links li:not(:last-child) {
    border: none;
  }
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a:hover {
  color: white;
  padding-left: 10px;
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
}
.footer .box .line i {
  color: var(--main-color);
  margin-right: 10px;
  font-size: 25px;
}
.footer .box .line a {
  color: #b9b9b9;
  font-size: 16px;
  font-weight: 400;
}
.footer .box .line a:hover {
  color: white;
}
.footer .copyright {
  padding: 20px 0;
  color: #b9b9b9;
  text-align: center;
  margin: 30px auto 0 auto;
  border-top: 1px solid #444;
  font-size: 13px;
}
/* ------------------------------ End Footer ------------------------------ */

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
